<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <section id="container">
        <form class="input_page">
            <input type="text" class="first_page" name="page_num_1">
            <input type="number" class="last_page" name="page_num_2">
        </form>

        <form class="play_scrap">
            <input type="submit" class="btn-play" value="스크랩 실행">
        </form>
        <div class="scrap_result_head">
            <h3>결과예시</h3>
            <div class="table_site">
                
                <ul id="table" class="list"></ul>
                    <script type="text/javascript">
                        let v = '{{tableBy}}';
                        v=v.replace(/\n/g, "\\n")
                            .replace(/\r/g, "\\r")
                            .replace(/\t/g, "\\t")
                            .replace(/&#34;/g, "\"")
                            .replace(/&#39;/g,"\'")
                            .replace(/&gt;/g, "\>")
                            .replace(/&lt;/g,"\<");
                        //console.log(v);
                        
                        try{
                            v = JSON.parse(v);
                            
                            for(i in v){
                                let len = v[i].length;
                                let table = document.getElementById('table');
                                
                                // open table
                                let tableHeader = "<table><tr>";
                                // make header
                                for(k in v[i][0]){
                                    tableHeader += ("<th>"+k+"</th>");
                                }
                                tableHeader += "</tr>";
    
                                // make content
                                let tableContent = "";
                                for(n=0; n<len; n++){
                                    tableContent += "<tr>";
                                    for(k in v[i][n]){
                                        tableContent += "<td>";
                                        tableContent += v[i][n][k];
                                        tableContent += "</td>";
                                    }
                                    tableContent += "</tr>";
                                }
                                // close table
                                let tableFooter = "</table>";
                                
                                document.getElementById("table").innerHTML = tableHeader+tableContent+tableFooter;
                            }
                        }
                        catch(error){
                            let parent = document.querySelector('#table');
                            let fragment = document.createDocumentFragment();
                            let p = document.createElement('p');
                            p.textContent = "fail to scrap";
                            fragment.append(p);
                            console.log(error);
                        }
                    </script>
                </div>
        </div>

        <form class="download">
            <input type="submit" class="btn-dwld" value="다운로드">
        </form>

    </section>

</body>
</html>